h1 {
    color: red;
    font-family: sans-serif;
    font: Verdana;
}
h2 {
    color: red;
    font-family: sans-serif;
    font: Verdana;
}
#whoButton {
color: gray;
border-radius: 46cm;
border: none;
font-size: 1cm;
}
#fellasLogo {
    font-size: 10cm;
}
